
@import "./scss2/functions";


$danger: #ff0077;
$info: #00ffea;
$light: #f3eeff;
$dark: #212529; 


$card-bg: $dark;
$card-color: $info;
$card-border-radius: 2rem;
$btn-padding-y: 0.75rem; 
$btn-padding-x: 2.5rem;  
$btn-border-radius: 50rem; 
$input-border-radius: 50rem; 
$badge-border-radius: 50rem; 
$grid-gutter-width: 0.5rem;

@import "./scss2/variables";


$custom-colors: (
  "epicode-1": #5726c3,
  "epicode-2": #8625a5,
  "epicode-3": #cb2376
);
$theme-colors: map-merge($theme-colors, $custom-colors);

$custom-font-sizes: (
  7: 0.8rem,
  8: 0.7rem,
  9: 0.6rem,
  10: 0.5rem
);
$font-sizes: map-merge($font-sizes, $custom-font-sizes);

$custom-border-widths: (
  6: 6px,
  7: 7px,
  8: 8px,
  9: 9px,
  10: 10px
);
$border-widths: map-merge($border-widths, $custom-border-widths);

$grid-breakpoints: map-merge($grid-breakpoints, (
  "3xl": 1600px,
  "4xl": 1800px
));

$container-max-widths: map-merge($container-max-widths, (
  "3xl": 1520px,
  "4xl": 1720px
));


@import "./scss2/bootstrap";